<div class="search" [style.--shadow-light-1]="shadow2" [style.--text]="textcolor">
    <form #form="ngForm" (submit)="onSubmit()">
        <!--  [matAutocomplete]="auto"   -->
        <input type="text" placeholder="Location" matInput [formControl]="formcontrol" [value]="cityselected"
            [matAutocomplete]="auto" />
        <!-- {{options}} -->
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of options;let i = index" [value]="options[i]"
                (onSelectionChange)="updateMySelection($event)">
                {{ options[i].formatted }}
            </mat-option>

            <!-- <mat-option>{{options[0].formatted}}</mat-option> -->

            <!-- <mat-option>hey</mat-option> -->
        </mat-autocomplete>

    </form>
</div>

<div class="container" [style.--green-2]="color2" [style.--shadow-light-1]="shadow2" [style.--shadow-dark-1]="shadow1">
    <div class="upper-data">
        <img [src]="url1" *ngIf="item.temp > 15 + 273" />
        <img [src]="url2" *ngIf="item.temp <= 15 + 273" />
        <div class="weather-data">
            <div class="location" [style.--text]="textcolor">{{ location | titlecase }}</div>
            <div class="temperature" [style.--text]="textcolor" style="font-weight:500">
                {{ item.temp - 273 | number:'0.0-2'}} &deg;C
            </div>
        </div>
    </div>
    <div class="lower-data">
        <div>
            <span>
                <button *ngIf="!isok" (click)="toggler()" mat-mini-fab
                    style="background-color:rgba(255, 255, 255, 0.1); color:white;" aria-label="Example arrow icon">
                    <mat-icon>dark_mode</mat-icon>
                </button>
            </span>
            <span>
                <button *ngIf="isok" (click)="toggler()" mat-mini-fab
                    style="background-color:#d3e6c6; color:rgb(62, 62, 19)" aria-label="Example arrow icon">
                    <mat-icon style="transform: scale(-1,1);">light_mode</mat-icon>
                </button>
            </span>
            <span class="more-info-label">
                <button *ngIf="!toggle" (click)="toggle = !toggle" mat-mini-fab aria-label="Example arrow icon">
                    <mat-icon>play_arrow</mat-icon>
                </button>
            </span>
            <span class="more-info-label">
                <button *ngIf="toggle" (click)="toggle = !toggle" mat-mini-fab color="primary"
                    aria-label="Example arrow icon">
                    <mat-icon style="transform: scale(-1,1);">play_arrow</mat-icon>
                </button>
            </span>
        </div>

        <div *ngIf="!toggle" class="more-info-container" [style.--shadow-light-1]="shadow2">
            <div class="info-block">
                <div class="info-block-label">
                    <img src="../assets/min.png" />
                    <span [style.--text]="textcolor">min</span>
                </div>
                <div class="info-block-value" [style.--text]="textcolor"> {{ item.temp_min - 273 |
                    number:'0.0-2'}}&deg;C</div>
            </div>
            <div class="info-block">
                <div class="info-block-label">
                    <img src="../assets/max.png" />
                    <span [style.--text]="textcolor">max</span>
                </div>
                <div class="info-block-value" [style.--text]="textcolor"> {{ item.temp_max - 273 |
                    number:'0.0-2'}}&deg;C</div>
            </div>
            <div class="info-block">
                <div class="info-block-label">
                    <img src="../assets/humidity.png" />
                    <span [style.--text]="textcolor">humidity</span>
                </div>
                <div class="info-block-value" [style.--text]="textcolor">{{ item.humidity }}%</div>
            </div>
            <div class="info-block">
                <div class="info-block-label">
                    <img src="../assets/wind.png" />
                    <span [style.--text]="textcolor">wind</span>
                </div>
                <div class="info-block-value" [style.--text]="textcolor">{{ response.wind.speed }}km/h</div>
            </div>
        </div>

        <div *ngIf="toggle" class="more-info-container" [style.--shadow-light-1]="shadow2">
            <div class="info-block">
                <div class="info-block-label">
                    <img src="../assets/cloud.png" />
                    <span [style.--text]="textcolor">cloud</span>
                </div>
                <div class="info-block-value" [style.--text]="textcolor">{{ item.cloud }}%</div>
            </div>
            <div class="info-block">
                <div class="info-block-label">
                    <img src="../assets/holidays.png" />
                    <span [style.--text]="textcolor">feels like</span>
                </div>
                <div class="info-block-value" [style.--text]="textcolor">{{ item.feelslike }}&deg;C</div>
            </div>
            <div class="info-block">
                <div class="info-block-label">
                    <img src="../assets/sunrise.png" />
                    <span [style.--text]="textcolor">sunrise</span>
                </div>
                <div class="info-block-value" [style.--text]="textcolor">{{ formatter(response.sys.sunrise) }}</div>
            </div>
            <div class="info-block">
                <div class="info-block-label">
                    <img src="../assets/sunset.png" />
                    <span [style.--text]="textcolor">sunset</span>
                </div>
                <div class="info-block-value" [style.--text]="textcolor">{{ formatter(response.sys.sunset) }}</div>
            </div>
        </div>
    </div>
</div>