<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<div class="search">
  <form #form ="ngForm" (submit)="onSubmit()"><input type="text"
     placeholder="Search City" name ="city" [(ngModel)]="cityName"></form>
</div>


<div class="container" *ngIf = "weatherData">
  <div class="upper-data">
    <img src="../assets/hot2.jpg" *ngIf="weatherData.temp > 15" />
    <img src="../assets/cold3.jpg" *ngIf="weatherData.temp <= 15" />
    <div class="weather-data">
      <div class="location">{{city}}</div>
      <div class="temperature">{{weatherData.temp  }} &deg;C</div>
    </div>
  </div>
  <div class="lower-data">
    <div class="lower-data-button"> 
      <button (click)= "toggle = !toggle" mat-mini-fab color="warn" aria-label="Example arrow icon" ><mat-icon  >swap_horiz</mat-icon></button>
    </div>
  <div *ngIf="!toggle" class="more-info-container">
     <div class="info-block">
    <div class="info-block-label">
      <img src="../assets/min.png" />
      <span>min</span>
    
    <div class="info-block-value">{{weatherData.min_temp  }} &deg;C</div>
  </div>
  <div class="info-block">
    <div class="info-block-label">
      <img src="../assets/max.png" />
      <span>max</span>
    </div>
    <div class="info-block-value">{{weatherData.max_temp}}&deg;C</div>
  </div>
  <div class="info-block">
    <div class="info-block-label">
      <img src="../assets/humidity.png" />
      <span>humidity</span>
    </div>
    <div class="info-block-value">{{weatherData.humidity}}%</div>
  </div>
  <div class="info-block">
    <div class="info-block-label">
      <img src="../assets/wind.png" />
      <span>wind</span>
    </div>
    <div class="info-block-value">{{weatherData.wind_speed}} km/h</div>
  </div>
      
    </div>
   
    
  </div>
  <div *ngIf="toggle" class="more-info-container">
    <div class="info-block">
      <div class="info-block-label">
        <img src="../assets/cloud.png" />
        <span>cloud</span>
      </div>
      <div class="info-block-value">{{weatherData.cloud_pct }}% </div>
    </div>
    <div class="info-block">
      <div class="info-block-label">
        <img src="../assets/feels_like.png" />
        <span>feels like</span>
      </div>
      <div class="info-block-value">{{weatherData.feels_like  }}&deg;C</div>
    </div>
    <div class="info-block">
      <div class="info-block-label">
        <img src="../assets/sunrise.png" />
        <span>sunrise</span>
      </div>
     
      <div class="info-block-value">{{formatter(weatherData.sunrise)}}</div>
    </div>
    <div class="info-block">
      <div class="info-block-label">
        <img src="../assets/sunset.png" />
        <span>sunset</span>
      </div>
      <div class="info-block-value">{{formatter(weatherData.sunset)}}</div>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="upper-data">
    <img src="../assets/hot2.jpg" *ngIf="14 > 15" />
    <img src="../assets/cold3.jpg" *ngIf="14 < 15" />
    <div class="weather-data">
      <div class="location">Morena</div>
      <div class="temperature">{{ 30 | number : "1.0-0" }} &deg;C</div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">More Information</div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/min.png" />
          <span>min</span>
        </div>
        <div class="info-block-value">10 &deg;C</div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/max.png" />
          <span>max</span>
        </div>
        <div class="info-block-value">38 &deg;C</div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.png" />
          <span>humidity</span>
        </div>
        <div class="info-block-value">77%</div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.png" />
          <span>wind</span>
        </div>
        <div class="info-block-value">55 km/h</div>
      </div>
    </div>
  </div>
</div> -->
<router-outlet></router-outlet>
